@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/kharkiv-tone');

.section-title{
    font-family: 'Kharkiv Tone', sans-serif;
    white-space: wrap;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    margin-bottom: 80px;
}

.modal-title{
    font-family: 'Kharkiv Tone', sans-serif;
    white-space: nowrap;
}

@media (max-width: 1440px){
    .section-title{
        font-size: 60px;
    }
}