.cols {
  display: flex;
  justify-content: space-between;
}

.firstRow {
  flex-grow: 1;
}

.footer-logo {
  margin-bottom: 25px;
}

.inst-logo {
  float: left;
}

.logo-insta-row {
  display: flex;
  align-items: center;
  align-content: center;
}

.inst-logo {
  margin-right: 10px;
}

.footer-text {
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 43px;
  color: #141415;
  margin-right: 40px;
}

.item-text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-items {
  display: flex;
  flex-direction: row;
}

.row-row-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;
}
.row1 {
  margin-right: 50px;
}

.secondRow {
  flex-grow: 1;
}

.row-row-items > a {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  color: #141415;
}

.thirdRow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.thirdRow-text {
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 39px;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
}

@media (max-width: 1440px) {
  .footer-text {
    font-size: 27px;
  }

  .row-row-items > a {
    font-size: 20px;
  }
  .thirdRow-text {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .inst-logo {
    width: 50px;
    height: 47px;
  }
  .footer-text {
    font-size: 24px;
  }

  .row-row-items > a {
    font-size: 17px;
  }
  .thirdRow-text {
    font-size: 20px;
  }
}

@media (max-width: 960px) {
  .inst-logo {
    width: 45px;
    height: 42px;
  }
  .footer-text {
    font-size: 20px;
  }

  .row-row-items > a {
    font-size: 14px;
  }
  .thirdRow-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .footer-logo {
    width: 150px;
  }
  .inst-logo {
    width: 40px;
    height: 37px;
  }
  .footer-text {
    font-size: 16px;
  }

  .row-row-items > a {
    font-size: 14px;
  }
  .thirdRow-text {
    font-size: 14px;
  }
  .row-row-items {
    gap: 15px;
  }
  .thirdRow{
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    width: 83px;
  }
  .inst-logo {
    width: 30px;
    height: 27px;
  }
  .footer-text {
    font-size: 9px;
  }

  .row-row-items > a {
    font-size: 10px;
  }
  .thirdRow-text {
    font-size: 8px;
  }
}


