.header {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.header-list li {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.navigation-mobile {
    display: none;
}

.header-list-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}



@media (max-width: 768px) {
    .header {
        margin-bottom: 35px;
    }

    .navigation-laptop {
        display: none;
    }

    .navigation-mobile {
        display: block;
    }

    .header-list li {
        display: list-item;
    }

}

@media (max-width: 425px) {

    .header {
        margin-bottom: 10px;
    }

    .header-list-mobile li img {
        width: 150px;
    }

    .install-logo{
        width: 110px;
    }
}


