.modal{
    display: flex;
    justify-content: center;
    opacity: 0;
    background-color: #666666;
    will-change: opacity, visibility;
    transition: opacity .4s ease, visibility .4s ease;
    visibility: hidden;
    position: fixed;
    inset: 0;
}

.modal_open{
    visibility: visible;
    opacity: 1;
    
}

.modal__image{
    display: flex;
    margin: 0 auto;
    padding-top: 42px;

}

.modal__close{
    position: absolute;
    top: 4%;
    right: 4%;
}

.modal__container {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    transition: transform .6s ease;
    border-radius: 24px;
}

@media (max-width:768px) {
    .modal-list{
        padding-top: 20px;
        text-align: center;
        color: #FFF;
    } 

    .modal-list>li{
        margin-bottom: 20px;
    } 
    
    .modal-logo{
       display: none;
    }
}

@media (max-width:375px) {
    .modal__image {
        width: 200px;
    }

    .modal__close{
        position: absolute;
        right: 30px;
    }
}


