.questions-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.questions-section {
  border-bottom: 1.36571px solid #000000;
  padding-bottom: 95px;
}
.leave-app-title {
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 61px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;
  margin-bottom: 75px;
  white-space: nowrap;
}

.leave-app-form {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.questions-section-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 500px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.34727px solid #000000;
  margin-bottom: 50px;
  padding: 10px 5px;
  font-size: 32px;
}

.input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.7;
}

.questions-send-btn {
  padding: 16px 55px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
  background: #000000;
  border-radius: 50px;
}

.img-slot {
  display: flex;
  align-items: flex-start;
  /* height: 890px; */
  border-radius: 20px;
}

.img-slot > img {
  width: 500px;
  /* height: 750px; */
  object-fit: cover;
}

.slot2 {
  align-self: flex-end;
  padding-top: 100px;
}

.slot1 {
  align-items: flex-start;
}

footer{
  padding-top: 95px;
}

@media (max-width: 1440px) {
  .img-slot > img {
    width: 376px;
    height: 564px;
  }
}

@media (max-width: 1024px) {
  .img-slot > img {
    width: 250px;
    height: 475px;
  }

  .slot1 {
    margin-right: 20px;
  }

  .slot2 {
    margin-left: 20px;
  }
}

@media (max-width: 960px) {
  .img-slot > img {
    width: 120px;
    height: 180px;
  }
}

@media (max-width: 768px) {
  .img-slot > img {
    width: 100px;
    height: 140px;
  }

  .slot2 {
    margin-top: 70px;
  }

  .input {
    width: 370px;
  }

  .leave-app-title {
    text-align: center;
    font-size: 40px;
  }

  .thirdRow{
    gap: 0;
  }
}

@media (max-width: 480px) {
  .input {
    width: 85%;
  }

  .input::placeholder {
    font-size: 16px;
  }
  .img-slot{
    width: 62px;
  }

  .img-slot > img {
    object-fit: contain;
  }

  .questions-send-btn {
    padding: 6px 20px;
  }

  .leave-app-title{
    font-size: 18px;
    margin-bottom: 5px;
  }

  .questions-send-btn{
    padding: 4px 10px;
    font-size: 12.7966px;
  }

  .secondRow{
    display: none;
  }

  .thirdRow-text{
    font-size: 14px;
  }

  .questions-section{
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .input {
    width: 70%;
  }

  .leave-app-title {
    font-size: 18px;
  }

  .questions-send-btn {
    width: 114px;
    font-size: 13px;
    padding: 0 2px;
  }

  .img-slot {
    width: 62px;
    object-fit: cover;
    margin: 0 5px 0 -10px;
  }
  .slot2 {
    margin-left: 5px;
    padding-top: 146px;
  }

  .leave-app-form {
    padding: 0 0px;
  }

  .leave-app-title{
    font-size: 18px;
    margin-bottom: 15px;
  }
}
