.rates-section {
  margin-bottom: 180px;
}

.phones-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phones-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  text-transform: uppercase;
}

.phones-row {
  display: flex;
  flex-direction: column;
}

.phone-img {
  /* border: 2px solid #313131; */
  border-radius: 20px;
  width: 350px;
  height: 650px;
  margin-bottom: 30px;
  padding: 20px;
}

.phone-img>img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.rates-cost {
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 81px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.phones-btn {
  width: 170px;
  padding: 3px 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 35px;
  text-transform: lowercase;
  background: #000000;
  border-radius: 9px;
  color: #ffffff;
}

.phones-btn2 {
  width: 170px;
  padding: 3px 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 35px;
  text-transform: lowercase;
  background: #000000;
  border-radius: 9px;
  color: #ffffff;
}

.phones-btn3 {
  width: 170px;
  padding: 3px 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 35px;
  text-transform: lowercase;
  background: #000000;
  border-radius: 9px;
  color: #ffffff;
}

.under-phone-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1440px) {
  .rates-cost {
    font-size: 80px;
  }

  .phones-btn {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .phone-img {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .phone-img{
    padding: 0;
  }
  .phones-col {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
  }

  .phones-row {
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .under-phone-wrapper {
    border: 1px solid #181918;
    border-radius: 15px;
    padding: 9px 12px;
  }
}

.modal-nokia {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55);
  will-change: opacity, visibility;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  visibility: hidden;
  position: fixed;
  inset: 0;
  overflow: auto;

}

.modal-open-nokia {
  visibility: visible;
  opacity: 1;
}

.modal-close {
  background: #000000;
  border-radius: 58px;
  font-weight: 600;
  font-size: 20.686px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  padding: 1px 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-container {

  width: 600px;
  height: auto;
  margin: 0 auto;
  position: relative;
  transition: transform 0.6s ease;
  border-radius: 24px;
  flex-direction: column;
  background-color: #F6F5FA;
}

.nokia-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-nokia-title {
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;

}

.container__description {
  margin: 0 auto;
  max-width: 500px;
}

.input-nokia {
  outline: none;
  background-color: transparent;
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.466074px solid #000000;
  margin-bottom: 20px;
  width: 80%;
  margin-bottom: 50px;

}

@media (max-width:768px) {




  .modal-close {
    background: #000000;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15.686px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    padding: 1px 12px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .modal-container {

    width: 300px;
    height: auto;
    margin: 0 auto;
    position: relative;
    transition: transform 0.6s ease;
    border-radius: 24px;
    flex-direction: column;
    background-color: #F6F5FA;
  }


  .modal-nokia-title {
    font-size: 30px;
  }

  .container__description {
    margin: 0 auto;
    max-width: 250px;
  }

  .input-nokia {
    margin-bottom: 40px;
  }
}



.input-nokia::placeholder {
  color: #000000;
  /* opacity: 0.7; */
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}