.start__top {
  position: relative;
}


.start__phone {
  width: 60vw;
  padding-left: 5%;
}

.start__phone > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start__texts {
  position: absolute;
  top: 75%;
  left: 55%;
}

.start__text {
  padding-bottom: 9px;
  font-weight: 400;
  font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
  line-height: 120%;
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
}

.start__text_span {
  color: #666;
}

@media (max-width: 1440px) {
  .start__texts {
    left: 50%;
  }
}

@media (max-width: 1100px) {
  .start__texts {
    left: 45%;
  }
}

@media (max-width: 930px) {
  .start__texts {
    left: 43%;
  }
}

@media (max-width: 860px) {
  .start__text {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .start__texts {
    position: static;
    text-align: center;
  }

  .start__phone {
    margin-bottom: 13px;
    padding: 0;
  }

  .start__text_span {
    position: absolute;
    right: 170px;
    top: 115px;
    font-size: 14px;
  }

  .start__text {
    border-bottom: none;
  }

  .start__phone {
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 726px) {
  .start__text_span {
    position: absolute;
    right: 160px;
    top: 110px;
  }
}

@media (max-width: 700px) {
  .start__text_span {
    position: absolute;
    right: 140px;
    top: 100px;
  }
}

@media (max-width: 660px) {
  .start__text_span {
    position: absolute;
    right: 130px;
    top: 95px;
  }
}

@media (max-width: 630px) {
  .start__text_span {
    position: absolute;
    right: 120px;
    top: 90px;
  }
}

@media (max-width: 610px) {
  .start__text_span {
    position: absolute;
    right: 110px;
    top: 90px;
  }

  .header-list-mobile li img {
    width: 150px;
  }
}

@media (max-width: 585px) {
  .start__text_span {
    position: absolute;
    right: 100px;
    top: 85px;
  }
}

@media (max-width: 560px) {
  .start__text_span {
    position: absolute;
    right: 90px;
    top: 80px;
  }
}

@media (max-width: 540px) {
  .start__text_span {
    position: absolute;
    right: 80px;
    top: 75px;
  }
}

@media (max-width: 520px) {
  .start__text_span {
    position: absolute;
    right: 70px;
    top: 70px;
  }
}

@media (max-width: 490px) {
  .start__text_span {
    position: absolute;
    right: 60px;
    top: 70px;
  }
}

@media (max-width: 470px) {
  .start__text_span {
    position: absolute;
    right: 50px;
    top: 65px;
  }
}

@media (max-width: 445px) {
  .start__text_span {
    position: absolute;
    right: 50px;
    top: 65px;
    font-size: 12px;
  }

  .start__text {
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 0px;
  }

}

@media (max-width: 425px) {
  .start__text_span {
    position: absolute;
    right: 40px;
    top: 60px;
  }
  
  
  .header-list-mobile li img {
    width: 100px;
  }
}

@media (max-width: 390px) {
  .start__text_span {
    position: absolute;
    right: 30px;
    top: 55px;
  }
}

@media (max-width: 360px) {
  .start__text_span {
    position: absolute;
    right: 20px;
    top: 50px;
  }
}

@media (max-width: 360px) {
  .start__text_span {
    position: absolute;
    right: 30px;
    top: 50px;
    font-size: 10px;
  }
}




